@media (max-width: 1500px) {
    #root {
        gap: 18px;
        padding: 18px;
    }

    p {
        font-size: 12px;
    }

    .weather-data {
        gap: 18px;
    }

    .greetings {
        font-size: 38px;
    }

    .left-div-p {
        font-size: 14px;
    }
}

@media (max-width: 1350px) {
    #root {
        gap: 12px;
        padding: 12px;
    }

    p {
        font-size: 12px;
    }

    .weather-cube {
        width: 130px;
        height: 120px;
        padding: 6px;
    }
    
    .weather-cube img{
        width: 24px;
        height: 24px;
    }

    .greetings {
        font-size: 24px;
    }

    .left-div-p {
        font-size: 12px;
    }

    .weekly-weather-container {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    p {
        font-size: 12px;
    }

    .search-input {
        width: 100px;
    }

    .weather-data {
        display: flex;
        flex-direction: column;
    }

    .left-div {
        gap:20px;
    }

    .weather-cube-div {
        margin-top: 12px;
        gap: 8px;
    }

    .weather-cube {
        width: 100px;
        height: 120px;
        padding: 6px;
    }
    
    .weather-cube img{
        width: 24px;
        height: 24px;
    }

    .right-div {
        height: 540px;
    }

    .greetings {
        font-size: 24px;
    }

    .left-div-p {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 12px;
    }

    .weather-top {
        flex-direction: column;
        gap: 8px;
    }

    .weather-cube-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }

    .weather-cube {
        width: 100%;
        height: auto;
    }
    
    .weather-cube p{
        font-size: 11px;
    }
}