@import "tailwindcss";

:root {
    --bg-color: #d5eaf4;
    --card-color: #ffffff;
    --text-color: #000000;
    --primary-color: #5096ad;
    --secondary-color: #d5eaf4;
}

/* light theme */
[data-theme="light"] {
    --bg-color: #d5eaf4;
    --card-color: #ffffff;
    --text-color: #000000;
    --primary-color: #5096ad;
    --secondary-color: #d5eaf4;
}

/* dark theme */
[data-theme="dark"] {
    --bg-color: #50647c;
    --card-color: #162841;
    --text-color: #ffffff;
    --primary-color: #000000;
    --secondary-color: #020a1f;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}

p {
    font-size: 13px;;
}

.icon {
    width: 18px;
    height: 18px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: var(--card-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.input-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--bg-color);
    padding: 12px 18px;
    border-radius: 32px;
}

.search-input {
    width: 600px;
    color: var(--text-color);
    font-size: 14px;
}

.search-input:focus {
    outline: none;
}

.search-btn {
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 2px 20px;
    border-radius: 32px;
    color: var(--text-color);
    font-size: 14px;
    opacity: 90%;
}

.search-btn:hover {
    opacity: 100%;
}

.theme-toggle {
    background-color: var(--bg-color);
    padding: 4px;
    border-radius: 32px;
}

.theme-btn {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.theme-btn-active {
    padding: 8px;
    border-radius: 50%;
    background-color: var(--card-color);
}

.weather-data {
    display: grid;
    grid-template-columns: 1300px 1fr;
    gap: 30px;
}

.left-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 12px;
}

.location {
    background-color: var(--secondary-color);
    border-radius: 32px;
}

.weather-cube {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.hourly-weather {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 12px;
}

.hourly-weather-container {
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 12px;
    min-width: 150px;
    width: 180px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.right-div {
    height: 760px;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.weekly-weather {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 12px;
}

.weekly-weather-container {
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.alert-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 44px;
}

.alert-modal {
    width: 400px;
    padding: 12px 20px;
    border-radius: 12px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.warning-icon {
  color: #FFCA28;
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(15px, 15px);
}

.weather-details {
    background-color: var(--card-color);
    padding: 12px;
    height: fit-content;
    width: 120px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}