@import "tailwindcss";

:root {
    --bg-color: #e4f1f7;
    --card-color: #ffffff;
    --text-color: #000000;
    --primary-color: #5096ad;
    --secondary-color: #cfe9f5;
}

/* light theme */
[data-theme="light"] {
    --bg-color: #e4f1f7;
    --card-color: #ffffff;
    --text-color: #000000;
    --primary-color: #5096ad;
    --secondary-color: #cfe9f5;
}

/* dark theme */
[data-theme="dark"] {
    --bg-color: #50647c;
    --card-color: #162841;
    --text-color: #f1f1f1;
    --primary-color: #355472;
    --secondary-color: #020a1f;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--card-color);
}

.weather-data {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    background-color: var(--card-color);
}

.hourly-weather {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
} 

.weekly-weather {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.alert-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.alert-modal {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--primary-color);
    height: fit-content;
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(15px, 15px);
}