@import "tailwindcss";

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: antiquewhite;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    background-color: wheat;
}

.weather-data {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    background-color: wheat;
}

.hourly-weather {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
} 